mixin expenseFooter(pageNumber, appId, submittedDate)
  .footer
    .footer-col Worker App ID: #{appId}
    .footer-col.align-center Submitted: #{submittedDate}
    .footer-col.align-right Page #{pageNumber} of 2